@import "../../../styles.scss";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  animation: overlayAnim 0.3s forwards;
}

.container {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $cart-gray;
  padding: 0.5rem 1rem;
  padding-bottom: 5rem;
  border-radius: 1.2rem 1.2rem 0 0;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  animation: openMenuAnim 0.3s forwards;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 1.3em;
      font-weight: 600;
      color: $icon-black;
    }
    i {
      font-size: 2.5em;
      color: $icon-black;
    }
  }

  .empty-cart-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0rem;
    color: $primary-color;
    margin-bottom: 0.7rem;
    cursor: pointer;

    .bx-x {
      font-size: 1.8em;
      text-align: center;
      cursor: pointer;
    }
  }

  .items-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow: auto;
    max-height: 17rem;
  }

  textarea {
    border: none;
    outline: none;
    color: $icon-black;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0;
    margin-top: 0.7rem;
    font-size: 1em;
    resize: none;
  }

  .receipt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $item-border;
    border-radius: 0.3rem;
    padding: 0.4rem 0.5rem;
    .left {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      .receipt-price {
        color: $icon-black;
      }
      .all {
        color: green;
        font-size: 1em;
        font-weight: 600;
      }
      .receipt-price {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: flex-start;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      .all {
        color: green;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}

.no-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 35vh;

  gap: 1rem;

  i {
    font-size: 5.5em;
    color: $ingredients-gray;
  }
  p {
    color: $ingredients-gray;
    font-size: 1.1em;
  }
}

@keyframes openMenuAnim {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes overlayAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bx-chevron-down {
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .container {
    textarea {
      padding: 0.1rem 1rem 0.1rem 0;
      height: 3.5rem;
      margin-top: 0.4rem;
    }

    .items-container {
      gap: 0.2rem;
      max-height: 13.5rem;
    }

    .receipt {
      padding: 0.2rem 0.5rem;
      .left {
        gap: 0.2rem;

        .all {
          color: green;
          font-size: 0.9em;
          font-weight: 600;
        }
        .receipt-price {
          display: flex;
          justify-content: space-between;
          gap: 0.5rem;
          align-items: flex-start;
          font-size: 0.9em;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        gap: 0.2rem;
        .all {
          color: green;
          font-size: 0.9em;
          font-weight: 600;
        }
      }
    }
  }
}
