<div class="container">
  <div class="success-container">
    <img
      src="../../../assets/logo/splash.png"
      class="pulse-button"
      alt="logo"
    />

    <p class="splash-text">منوی مجازی کافه رستوران شما</p>
    <div class="buttons-container" (click)="handleClick(false)">
      <button>
        <div class="button-container">
          <img
            src="../../../assets/icons/iran.png"
            class="flag"
            alt="persian"
          />
          <div class="button-text">فارسی</div>
        </div>
      </button>
    </div>
  </div>
  <div class="copyright-container">
    <p class="copyright">تمامی حقوق محفوظ است</p>
  </div>
</div>
