<div class="container">
  <div class="success-container">
    <svg
      class="checkmark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 52 52"
    >
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path
        class="checkmark__check"
        fill="none"
        d="M14.1 27.2l7.1 7.2 16.7-16.8"
      />
    </svg>
    <p class="submit-message">سفارش شما با موفقیت ثبت شد</p>
    <button (click)="refresh()">
      <div class="button-container">
        <div class="button-text">بازگشت به منو</div>
        <i class="bx bx-food-menu"></i>
      </div>
    </button>
  </div>
  <div class="satisfaction-container">
    <p class="satisfaction-text">میزان رضایت شما از روند ثبت سفارش</p>
    <div class="emojies">
      <i class="bx bx-sad"></i>
      <i class="bx bx-meh"></i>
      <i class="bx bx-smile"></i>
    </div>
  </div>
</div>
