<div class="main-container">
  <div class="categories">
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
    <app-category-item-loader></app-category-item-loader>
  </div>
</div>
