<div class="container">
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
  <app-food-item-loader></app-food-item-loader>
</div>
