@import "../../../../styles.scss";

.nav-container {
  background-color: ($primary-color);
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  .grid {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $white;

    li {
      cursor: pointer;
      white-space: nowrap;
    }
  }

  i {
    color: $white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
  }
  .active {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 3rem;
    white-space: nowrap;
    transition: all 0.05s;
  }
}
