* {
  font-family: Vazir, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.btn-primary, .add-remove-quantity-container .btn {
  border: 1px solid #990100;
  color: #990100;
  border-radius: 0.4rem;
  text-align: center;
  width: 2rem;
  font-size: 1.15em;
  cursor: pointer;
  font-weight: 600;
}

.container {
  display: flex;
  border-radius: 0.3rem;
  gap: 1rem;
  padding: 0.7rem;
  background-color: white;
}
.container .img-holder {
  flex: 1;
}
.container .img-holder img {
  flex: 1;
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 0.3rem;
}
.container .text-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .text-details p {
  font-size: 1em;
  font-weight: 700;
}
.container .text-details .price {
  color: #008484;
}
.container .text-details .price span {
  font-weight: 600;
  font-size: 1em;
}
.container .text-details .price-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #008484;
}
.container .text-details .price-container .price {
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
}
.container .text-details .discount-container {
  display: flex;
  flex-direction: column;
}
.container .text-details .discount-container .main-price {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #a3a3a3;
  -webkit-text-decoration: line-through rgba(163, 163, 163, 0.6117647059);
          text-decoration: line-through rgba(163, 163, 163, 0.6117647059);
}
.container .text-details .discount-container .main-price .main-price-number {
  font-weight: 300;
  font-size: 0.9em;
}
.container .text-details .discount-container .discount-price {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #008484;
}
.container .text-details .discount-container .discount-price .discount-price-number {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
.container .text-details .off-container .off-percentage {
  color: white;
  font-size: 0.8em;
  text-align: center;
  margin-right: 0.1rem;
  background-color: #ef394e;
  border-radius: 0.5rem;
  padding: 0rem 0.3rem;
}
.container .last-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
  height: 100%;
  justify-content: center;
}
.container .last-column i {
  font-size: 2rem;
  color: #2c2c2c;
}
.container .add-remove-quantity-container {
  flex: 1;
}

.add-remove-quantity-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.add-remove-quantity-container p {
  font-weight: 500;
  width: 1rem;
  text-align: center;
  margin: 0 auto;
}
.add-remove-quantity-container .inactive {
  color: #797979;
  border: 1px solid #797979;
}

.bx-x {
  cursor: pointer;
}

@media only screen and (max-width: 321px) {
  .add-remove-quantity-container {
    gap: 0.2rem;
  }
  .container {
    padding: 0.3rem;
  }
}/*# sourceMappingURL=cart-item.component.css.map */